h1 {
    color : rgb(12, 193, 209)  ;
}
.mat-card{
    margin: 3em;
}
.mat-button{
    border: 2px solid yellow;
    background: rgba(15, 108, 214, 0.356);
}
.mat-card-title{
    line-height:2;
    color : rgb(16, 109, 63);
}
.mat-card-content p{
    font-weight: bold;
}