<!--<mat-card-header>
    <mat-card-title><h1>MY COUNTERS</h1></mat-card-title>
</mat-card-header>

<br>
<button (click)="reset()">REINITIALISER</button>
<p></p>
<app-counter [position]="0" ></app-counter>
<p></p>
<app-counter [position]="1" ></app-counter>
<p></p>
<app-counter [position]="2" ></app-counter>-->

<mat-card-title><h1>MY COUNTERS</h1></mat-card-title>

<button (click)="reset()">REINITIALISER</button>
<p></p>
<div class="spaced">
    <app-counter [position]="1" ></app-counter>
</div>
<div class="spaced">
    <app-counter [position]="2" ></app-counter>
</div>
<div class="spaced">
    <app-counter [position]="3" ></app-counter>
</div>